@import "tailwindcss";

@media print {
  .no-print {
    display: none !important;
  }

  body {
    font-size: 12pt;
    color: #000;
    background: #fff;
  }

  .print-break {
    page-break-before: always;
  }

  .print-container {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }
}
